.home {
     // margin: auto;
}

.pages {
     padding: 20px;
     width: 100%;

     .overview-cards{
          padding: 10px;
          margin-bottom: 10px;

          .overview-cards-sub{
               padding-left: 30px;
               margin: 10px;

               .span-current {
                    font-size: 12px;
                    background-color: rgba(240, 38, 38, 0.513);
                    padding: 5px;
                    border-radius: 10px;
                    margin-left: 10px;
               }

               .overview-cards-sub-title-def{
                    font-size: 12px;
                    margin: 0px;
               }

               .overview-cards-sub-content{
                    padding-left: 20px;
               }
          }
     }
}