.blog-container{

     .blog-content{
          margin: auto;
          z-index: 5;
          padding: 20px;
          padding-top: 60px;
          max-width: 1000px;
          .view-content{
               padding: 30px;
               max-width: 760px;
               margin: auto;
          }
     }
}


@media only screen and (max-width: 560px){
     .alert-blog{
          font-size: 12px;
     }
}